/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting up CSS grid */

body {
  font-family: 'Roboto Mono', monospace;
  color: #3C3C3C;
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 450px 3.2rem 3.2rem 3.2rem 3.2rem;
  align-items: center;
  justify-items: center;
  margin: 0 calc(50% - 300px);
  margin-bottom: 1rem;
}

/* main only contains canvas */

main {
  grid-column-start: 1;
  grid-column-end: 4;
}

canvas {
  display: block;
}

input[type='checkbox'] {
  margin-right: 0.5rem;
}

/* Button styling */

button {
  font-family: inherit;
  font-size: inherit;
  width: 9em;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border: 0.1rem solid #666666;
  color: #3C3C3C;
  background-color: #EDEDED;
}

button:hover{
  background-color: #D8D8D8;
  color: #727272;
  border: 0.1rem solid #8F8F8F;
}

/* Slider */

#rand-slider {
  width: 6rem;
  top: 1rem;
}

#rand-slider-container {
  display: flex;
  flex-flow: row; 
  align-items: center;
  justify-content: flex-end; 
  height: 100%;
  grid-column: 2 / 3;
}

/* A few adjustments */

#fog-box {
  grid-column : 1 / 2;
  grid-row: 3 / 4;
}

#control-box {
  grid-column : 2 / 3;
  grid-row : 4 / 5;
}  

#visual-instructions {
  grid-row: 4 / 5; 
  grid-column: 1 / 2;
  text-align: center;
}

#seed-div {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
  text-align: center;
}

#copyright {
  grid-row: 5 / 6;
  grid-column: 1 / 4;
  text-align: center;
  align-self: end;
}

/* Cursor for buttons, sliders and checkboxes*/

button,
input[type='range'],
input[type='checkbox'] {
  cursor: pointer;
}

/* Link styling */

a:not([class]) {
  color: #8F8F8F;
}