
/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting up CSS grid */

body {
  font-family: 'Roboto Mono', monospace;
  color: #3C3C3C;
  background-color: #666666;
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 450px 1fr 1.7rem 1.7rem; */
  grid-template-rows: 450px 1fr 2.5rem 1.7rem;
  align-items: center;
  /* justify-items: center; */
  margin: 0 calc(50% - 300px);

}

/* main only contains canvas */

main {
  grid-column-start: 1;
  grid-column-end: 6;
}

canvas {
  display: block;
}

 p {
  font-size: 1.0rem;
}  

#drillbit {
  background-color: #fcf5c7;
  border-style:solid;
  border-width: 0.2rem;
  padding: 0.5em;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 6;
  align-self: end;
}

#level {
  background-color: #fcf5c7;
  border-style:solid;
  border-width: 0.2rem;
  padding: 1em;
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 6;
  align-self: start;
}
/* The check box */
#steer-lim-box {
  margin-top: 1em;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: start;
}

#fog-box {
  margin-top: 1em;
  grid-column-start: 3;
  grid-column-end: 6;
  align-self: start;
}

#links {
  border-style:solid;
  background-color: #fcf5c7;
  padding: 0.3rem;
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 6;
  align-self: start;
}

/* #seed{
  border-style:solid;
  background-color: #EDEDED;
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 3;
  grid-column-end: 6;
  align-self: end;
} */

input[type='checkbox'] {
  margin-right: 0.5rem;
}

/* Button styling */

button {
  font-family: inherit;
  font-size: inherit;
  width: 8em;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border: 0.1rem solid #666666;
  color: #3C3C3C;
  background-color: #fff;
}

button:hover{
  background-color: #D8D8D8;
  color: #727272;
  border: 0.1rem solid #8F8F8F;
}

/* The "randomness" span */

span#slider-label {
  justify-self: end;
}

/* Cursor for buttons, sliders and checkboxes*/

button,
input[type='range'],
input[type='checkbox'] {
  cursor: pointer;
}
